<?xml version="1.0"?>

<robot name="$(arg mav_name)" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Instantiate the mav-->
  <xacro:include filename="$(find rotors_description)/urdf/ball.xacro" />

  <xacro:include filename="$(find rotors_description)/urdf/$(arg mav_name)_base.xacro" />

  <xacro:ball_macro
    namespace="${namespace}/ball"
    parent_link="${namespace}/base_link"
    ball_radius="0.05"
    ball_weight="0.1">
    <origin xyz="0.0 0.0 -1.0" rpy="0.0 0.0 0.0" />
  </xacro:ball_macro>
</robot>

